.group-ink {
    z-index: 0;
}

.group-ink .ink {
    width: 100%;
    margin-top: -10%;
    margin-left: 19%;
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .group-ink .ink {
        margin-top: -10%;
        margin-left: 16%;
    }
}
