.group-sashimi-dish {
    margin-top: -18%;
    margin-left: 4%;
}

.group-sashimi-dish .sashimi-dish {
    width: 96%;
    border-radius: 50%;
    /*first argument: bottom offset, second: right offset, third: blur, fourth: color*/
    box-shadow: 32px 21px 20px rgb(0 0 0 / 0.1);
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .group-sashimi-dish {
        margin-top: -17.5%;
        margin-left: 4.5%;
    }

    .group-sashimi-dish .sashimi-dish {
        width: 96.5%;
    }
}
