@media (min-width: 1366px) and (max-width: 1728px) {
    .group-sashimi-dish {
        margin-top: -15.5%;
        margin-left: 7.5%;
    }
}

.group-sashimi-dish {
    margin-top: -15%;
    margin-left: 8%;
}

.group-sashimi-dish .sashimi-dish {
    width: 90%;
    border-radius: 50%;
    /*first argument: bottom offset, second: right offset, third: blur, fourth: color*/
    box-shadow: 32px 21px 20px rgb(0 0 0 / 0.1);
}


