/* fade-out-left */
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

.fade-out-left {
    animation: fadeOutLeft 858ms;
    animation-fill-mode: both;
}

/* in-left */
@keyframes inLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }
    30% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.in-left {
    animation-delay: 1417ms; /* after background's animation */
    -webkit-animation-name: inLeft;
    animation-name: inLeft;
    -webkit-animation-duration: 858ms;
    animation-duration: 858ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* up-left */
@keyframes upLeft {
    0% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: var(--left);
        top: var(--top);
        transform: rotate(180deg);
    }
}

.up-left {
    --left: 1%;
    --top: -45%;
    animation: upLeft 1917ms;
    animation-fill-mode: both;
}

/* down-right */
@keyframes downRight {
    0% {
        left: 3%;
        top: -48%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1024 {
    0% {
        left: 0.7%;
        top: -34%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1366 {
    0% {
        left: 0.8%;
        top: -45%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

.down-right {
    animation: downRight 1917ms;
    animation-fill-mode: both;
}

/* Ingredient Animation */
@keyframes left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

.left {
    animation: left 1917ms;
    animation-fill-mode: both;
}

@keyframes direction {
    from {
        transform: translate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes directionContainer {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-64.5vw, 1vw);
    }
}

/* Grey Background Animation */
@keyframes slideLeft {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.slide-left {
    animation: slideLeft 2000ms;
    animation-fill-mode: both;
}

/* IngredientImage rotate */
@keyframes rotate {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    25% {
        transform: translateX(50px) translateY(-22px);
    }
    50% {
        transform: translateX(70px) translateY(-45px);
    }
    100% {
        transform: translateX(120px) translateY(-80px);
    }
}

@keyframes rotateBack {
    0% {
        transform: translateX(120px) translateY(-80px);
    }
    25% {
        transform: translateX(70px) translateY(-45px);
    }
    50% {
        transform: translateX(50px) translateY(-22px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

.rotate {
    animation: rotate 1400ms ease-in;
    animation-fill-mode: both;
}

.rotate-back {
    animation: rotateBack 1400ms ease-in;
    animation-fill-mode: both;
}

/* Media Query */
@media (min-width: 1024px) and (max-width: 1365px) {
    .up-left {
        --left: 0.7%;
        --top: -34%;
    }

    .down-right {
        animation: downRight1024 1917ms;
        animation-fill-mode: both;
    }
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .up-left {
        --left: 0.8%;
    }

    .down-right {
        animation: downRight1366 1917ms;
        animation-fill-mode: both;
    }
}
