/* fade-out-left */
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

.fade-out-left {
    animation: fadeOutLeft 858ms;
    animation-fill-mode: both;
}

/* in-left */
@keyframes inLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }
    30% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.in-left {
    animation-delay: 1417ms; /* after background's animation */
    -webkit-animation-name: inLeft;
    animation-name: inLeft;
    -webkit-animation-duration: 858ms;
    animation-duration: 858ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* up-left */
@keyframes upLeft {
    0% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: 3%;
        top: -48%;
        transform: rotate(180deg);
    }
}

@keyframes upLeft1024 {
    0% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: 0.7%;
        top: -34%;
        transform: rotate(180deg);
    }
}

@keyframes upLeft1366 {
    0% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: 0.8%;
        top: -45%;
        transform: rotate(180deg);
    }
}

.up-left {
    animation: upLeft 1917ms;
    animation-fill-mode: both;
}

/* down-right */
@keyframes downRight {
    0% {
        left: 3%;
        top: -48%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1024 {
    0% {
        left: 0.7%;
        top: -34%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1366 {
    0% {
        left: 0.8%;
        top: -45%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

.down-right {
    animation: downRight 1917ms;
    animation-fill-mode: both;
}

/* Ingredient-Animation */
@keyframes left {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(var(--ing-custom));
    }
}

.left-1 {
    --ing-custom: -911px, -497px;
    animation: left 1917ms;
    animation-fill-mode: both;
}

.left-2 {
    --ing-custom: -800px, -100px;
    animation: left 1917ms;
    animation-fill-mode: both;
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .up-left {
        animation: upLeft1024 1917ms;
        animation-fill-mode: both;
    }
    .down-right {
        animation: downRight1024 1917ms;
        animation-fill-mode: both;
    }
    .left-1 {
        --ing-custom: -750px, -350px;
    }
    .left-2 {
        --ing-custom: -780px, -300px;
    }
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .up-left {
        animation: upLeft1366 1917ms;
        animation-fill-mode: both;
    }
    .down-right {
        animation: downRight1366 1917ms;
        animation-fill-mode: both;
    }
    .left-1 {
        --ing-custom: -750px, -350px;
    }
    .left-2 {
        --ing-custom: -780px, -300px;
    }
}
