/* fade-out-left */
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

.fade-out-left {
    animation: fadeOutLeft 858ms;
    animation-fill-mode: both;
}

/* in-left */
@keyframes inLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }
    30% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.in-left {
    animation-delay: 1417ms; /* after background's animation */
    -webkit-animation-name: inLeft;
    animation-name: inLeft;
    -webkit-animation-duration: 858ms;
    animation-duration: 858ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* up-left */
@keyframes upLeft {
    0% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: var(--left);
        top: var(--top);
        transform: rotate(180deg);
    }
}

.up-left {
    --left: 1%;
    --top: -45%;
    animation: upLeft 1917ms;
    animation-fill-mode: both;
}

/* down-right */
@keyframes downRight {
    0% {
        left: 3%;
        top: -48%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1024 {
    0% {
        left: 0.7%;
        top: -34%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes downRight1366 {
    0% {
        left: 0.8%;
        top: -45%;
        transform: rotate(180deg);
    }
    100% {
        right: 0%;
        top: 0%;
        transform: rotate(0deg);
    }
}

.down-right {
    animation: downRight 1917ms;
    animation-fill-mode: both;
}

/* Ingredient Animation */
@keyframes left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

.left {
    animation: left 1917ms;
    animation-fill-mode: both;
}

@keyframes leftBack {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.left-back {
    animation: leftBack 1917ms;
    animation-fill-mode: both;
}

@keyframes direction {
    from {
        transform: rotate(0);
        width: 100%;
    }
    to {
        transform: rotate(90deg);
        width: 750px;
        gap: var(--gap);
    }
}

@keyframes directionBack {
    from {
        transform: rotate(90deg);
        width: 750px;
        gap: var(--gap);
    }
    to {
        transform: rotate(0);
        width: 100%;
        gap: 8%;
    }
}

@keyframes directionContainer {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(var(--translate));
    }
}

@keyframes directionContainerBack {
    from {
        transform: translate(var(--translate));
    }
    to {
        transform: translate(0);
    }
}

/* Grey Background Animation */
@keyframes slideLeft {
    0% {
        transform: translateX(0vw);
    }
    43.76% {
        transform: translateX(-101vw);
    }
    55% {
        transform: translateX(-101vw);
    }
    100% {
        transform: translateX(-151vw);
    }
}

.slide-left {
    animation: slideLeft 2934ms;
    animation-fill-mode: both;
}

@keyframes slideRight {
    0% {
        transform: translateX(-148vw);
    }
    43.76% {
        transform: translateX(var(--translateX));
    }
    55% {
        transform: translateX(var(--translateX));
    }
    100% {
        transform: translateX(0vw);
    }
}

.slide-right {
    --translateX: -101vw;
    animation: slideRight 2934ms;
    animation-fill-mode: both;
}

/* Instruction Animation */
@keyframes slideLeft-2 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-76.5vw);
    }
}

.slide-left-2 {
    animation: slideLeft-2 2000ms;
    animation-fill-mode: both;
}

@keyframes slideRight-2 {
    0% {
        transform: translateX(-76.5vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.slide-right-2 {
    animation: slideRight-2 2000ms;
    animation-fill-mode: both;
}

/* Instruction Animation */
@keyframes slideLeft-3 {
    0% {
        transform: translateX(0vw);
        opacity: 0;
    }
    90% {
        opacity: 0.1;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        transform: translateX(-51.1vw);
        opacity: 1;
    }
}

.slide-left-3 {
    animation: slideLeft-3 1200ms;
    animation-fill-mode: both;
}

@keyframes slideRight-3 {
    0% {
        opacity: 1;
        transform: translateX(-51.1vw);
    }
    50% {
        opacity: 1;
        transform: translateX(-51.1vw);
    }
    100% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

.slide-right-3 {
    animation: slideRight-3 2000ms;
    animation-fill-mode: both;
}

/* IngredientImage rotate */
@keyframes rotate {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(50px, -22px);
    }
    50% {
        transform: translate(70px, -45px);
    }
    100% {
        transform: translate(var(--translate));
    }
}

@keyframes rotateBack {
    0% {
        transform: translate(var(--translate));
    }
    25% {
        transform: translate(70px, -45px);
    }
    50% {
        transform: translate(50px, -22px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.rotate {
    --translate: 130px, -84px;
    animation: rotate 1400ms ease-in;
    animation-fill-mode: both;
}

.rotate-back {
    --translate: 130px, -84px;
    animation: rotateBack 1400ms ease-in;
    animation-fill-mode: both;
}

/* Instruction Animation */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(15vw);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-right {
    animation: fadeInRight 833ms;
    animation-fill-mode: both;
    animation-delay: 1300ms;
}

.fade-in-right-2 {
    animation: fadeInRight 833ms;
    animation-fill-mode: both;
    animation-delay: 1500ms;
}

@keyframes fadeOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(15vw);
        opacity: 0;
    }
}

.fade-out-right {
    animation: fadeOutRight 833ms;
    animation-fill-mode: both;
}

.fade-out-right-2 {
    animation: fadeOutRight 833ms;
    animation-fill-mode: both;
    animation-delay: 200ms;
}

/* Media Query */
@media (min-width: 1024px) and (max-width: 1365px) {
    .up-left {
        --left: 0.7%;
        --top: -34%;
    }

    .down-right {
        animation: downRight1024 1917ms;
        animation-fill-mode: both;
    }

    .rotate, .rotate-back {
        --translate: 71px, -45px;
    }
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .up-left {
        --left: 0.8%;
    }

    .down-right {
        animation: downRight1366 1917ms;
        animation-fill-mode: both;
    }

    .rotate, .rotate-back {
        --translate: 92px, -65px;
    }
}
