.container {
    max-width: 98.11765rem;
    padding-left: 0.88235rem;
    padding-right: 0.88235rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w10 {
    width: 10%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}
