@font-face {
    font-family: "Wilma";
    src: url(./assets/fonts/WilmaMankillerold-LtSmCn.ttf);
}

@font-face {
    font-family: "MrsSaintDelafield";
    src: url(./assets/fonts/MrsSaintDelafield-Regular.ttf);
}

.container {
    padding: 0rem 4.9rem 0rem 6rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w13 {
    width: 13.5%;
}

.w16 {
    width: 16.5%;
}

.w20 {
    width: 20%;
}

.w37 {
    width: 37.5%;
}

.w49 {
    width: 49%;
}

.w50 {
    width: 50%;
}

.title-left {
    font-weight: bold;
    font-size: 18px;
    color: #aab4b6;
    margin-bottom: 14px;
}

.ingre-img {
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingre-img > img {
    width: 100%;
}

.ingre-img > div {
    padding-top: 19px;
}

@media (min-width: 1366px) {
}
@media (max-width: 1024px) {
}
