.group-info-3 {
    justify-content: center;
    align-items: center;
    padding-top: 6.3%;
    gap: 8%;
}

.group-info-3 .info-img {
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img > img {
    width: 100%;
    border-radius: 50%;
    /*first argument: bottom offset, second: right offset, third: blur, fourth: color*/
    box-shadow: 17px 10px 27px rgb(0 0 0 / 0.1);
}

.info-img > div {
    padding-top: 24%;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #545454;
}

.group-info-3_animate {
    --gap: 4.8%;
    animation: direction 1950ms;
    animation-fill-mode: both;
}

.group-info-3_animate-back {
    --gap: 4.8%;
    animation: directionBack 1950ms;
    animation-delay: 1000ms;
    animation-fill-mode: both;
}

.justify-content_update {
    justify-content: start;
    gap: 3.8%;
}

.w50-container_animate {
    --translate: -58.3vw, -8.2vw;
    animation: directionContainer 1950ms;
    animation-fill-mode: both;
}

.w50-container_animate-back {
    --translate: -58.3vw, -8.2vw;
    animation: directionContainerBack 1950ms;
    animation-delay: 1000ms;
    animation-fill-mode: both;
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .group-info-3 .info-img {
        width: 52px;
        height: 52px;
    }

    .info-img > div {
        font-size: 9px;
    }

    .w50-container_animate,
    .w50-container_animate-back {
        --translate: -75.3vw, -8.2vw;
    }

    .group-info-3_animate,
    .group-info-3_animate-back {
        --gap: 2.5%;
    }
}

@media (min-width: 1366px) and (max-width: 1728px) {
    .group-info-3 .info-img {
        width: 70px;
        height: 70px;
    }

    .info-img > div {
        font-size: 12px;
        letter-spacing: 0.05px;
    }

    .w50-container_animate,
    .w50-container_animate-back {
        --translate: -66vw, -8.2vw;
    }

    .group-info-3_animate,
    .group-info-3_animate-back {
        --gap: 3.1%;
    }
}
